third_party/ORB_SLAM3/build/
third_party/ORB_SLAM3/lib/
third_party/ORB_SLAM3/Thirdparty/DBoW2/build/
third_party/ORB_SLAM3/Thirdparty/DBoW2/lib/
third_party/ORB_SLAM3/Thirdparty/g2o/build/
third_party/ORB_SLAM3/Thirdparty/g2o/lib/
third_party/ORB_SLAM3/**/CMakeCache.txt
third_party/ORB_SLAM3/**/cmake_install.cmake